<?xml version="1.0" ?>
<robot name="basic_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find basic_robot_description)/urdf/materials.xacro" />
<xacro:include filename="$(find basic_robot_description)/urdf/basic_robot.ros2control" />
<xacro:include filename="$(find basic_robot_description)/urdf/basic_robot.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="5.446978781099648e-18 0.0032917487693159796 0.026565339090989713" rpy="0 0 0"/>
    <mass value="0.2212383283060716"/>
    <inertia ixx="0.000267" iyy="0.00012" izz="0.000362" ixy="0.0" iyz="-9e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find basic_robot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find basic_robot_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
